body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: relative;
}

#cart {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #2ecc71;
    color: #fff;
}

#productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.productCard {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.productDetails {
    display: none;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}